* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(207, 216, 223);
}

header {
    background-color: rgb(56, 56, 56);
   
   
}

.h1-header {
    background-color: rgb(78, 187, 187);
    color: rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav {
    padding: 20px;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

nav a {
    color:  rgb(78, 187, 187);
    padding: 15px;
    font-size: 27px;
    text-underline-offset: 5px;
}

#hero-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80);
    min-width: 500px;
    height: 300px;
}

.h2-hero {
   background-color: rgb(78, 187, 187);
   color: rgb(56, 56, 56);
   text-align: center;
   font-size: 30px;
   width: 200px;
   background-repeat: no-repeat;
   background-position: center;
}

main {
    margin: 10px;
    color: rgb(73, 73, 107)
}

.about-me {
   padding: 20px 0 20px 0;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

.about-me h3 {
    padding: 10px 0 10px 0;
    font-size: 40px;
    
}

.work {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
 }
 
 .work h3 {
    padding: 10px 0 10px 0;
    font-size: 40px;
     
 }

 .contact-me {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
 }
 
 .contact-me h3 {
    padding: 10px 0 10px 0;
    font-size: 40px;
     
 }

 /* Media queries for Responsiveness, Tablet and Desktop Display, Website is Mobile First Approach */

 /* Media query for Tablet view  */
 @media screen and (min-width: 768px) {
    nav ul {
        justify-content: center;
    }
 }

/* Media query for Desktop view */
 @media screen and (min-width: 1024px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .h1-header {
        justify-content: flex-start;
        width: 300px;
    }

    nav ul {
        flex-wrap: wrap;
    }

    .about-me {
        width: 1000px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between
    }

    .about-me-description {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .about-me h3 {
        margin-right: 20px;
    }

    .about-me p {
        padding-top: 20px;
    }

    .work {
        margin: 0 auto;
        width: 1000px;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        min-width: 1000px;
        display: flex;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .work-card {
        background-color: white;
        padding: 10px;
        margin: 20px;
        
    }
    #lrg-card img {
        width: 500px;
    }
    .work-card img {
        width: 300px;
    }

    .work p {
        padding-top: 20px;
    }

    .work h3 {
        margin-right: 20px;
    }

    .contact-me {
        flex-direction: row;
    }

    .contact-me h3 {
        margin-right: 20px;
    }
    .contact-me ul {
        list-style-type: none;
        display: flex;
    }

    .contact-me li {
        margin-top: 20px;
        padding: 10px;
    }
    
 }

